.register .option {
    text-align: center;
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    color: #545454;
    height: 100%;
    min-height: 130px;
}

.register .box-content {
    padding-top: 10%;
    font-weight: 300;
}

.register .option:hover {
    background-color: #eef6f9;
}

.register .option.selected {
    border: 2px solid #226d77;
    color: #226d77;
}

.register .MuiTextField-root {
    margin-bottom: 30px;
    width: 100%;
}