.welcome-bar {
  background-color: #eef6f9;
  padding-top: 30px;
  padding-bottom: 60px;
}

.welcome-bar h1 {
  margin: 0px;
}

.welcome-bar .avatar {
  margin: auto;
  width: 80px;
  height: 80px;
  font-size: 2em;
}

.item-box {
  padding: 15px;
  color: #7d7d7d;
  text-align: center;
  margin: 15px;
}

.item-container {
  display: flex;
  padding: 8px 16px 16px;
}

.item-img {
  max-height: 130px;
  max-width: 100%;
}

.item-title {
  min-height: 100px;
  color: #226d77;
}

/*responsive design*/
@media screen and (max-width: 600px) {
  .unauthorized .page-container > .col-2,
  .unauthorized .page-container > .col-4 {
    margin-top: 30px;
  }

  .unauthorized .page-container > .col-4 {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #d2d2d2;
    padding-top: 15px;
  }
}
