body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: rgb(254,254,255);
  background: linear-gradient(360deg, rgba(254,254,255,1) 0%, rgba(154,195,125,1) 0%, rgba(192,241,255,1) 100%);
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #96bf7a;
}

.text-center {
  text-align: center;
}

html, body, #root {
  height: 100%;
}

.container {
  background-color: white;
  padding: 15px;
}

.height-100, .App > div {
  height: 100%; 
}

.margin-auto {
  margin: auto;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #96bf7a;
}

/* Buttons */
.MuiButton-containedPrimary .MuiButton-label {
  color: white;
}

.btn-container button {
  width: 47%;
  margin-left: 5px;
}

.single-submit-btn {
  width: 50%;
}

@media screen and (max-width: 600px) {
  .single-submit-btn {
    width: 100%;
  }
}