body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: #eef6f9;
  /*#background: linear-gradient(360deg, rgba(254,254,255,1) 0%, rgba(154,195,125,1) 0%, rgba(192,241,255,1) 100%);*/
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #226d77;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  color: #8cc5be;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: .8em;
}

.container {
  background-color: white;
  padding: 15px;
}

.error-text {
  font-size: .9em;
  float: right;
  color: #f35757;
}

/* alignment */
.float-right {
  float: right;
}

.d-inline-blk {
  display: inline-block;
}

/* spacing */

.margin-auto {
  margin: auto;
}

.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-15 {
  margin-top: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-15 {
  margin-right: 15px !important;
}

.mr-5 {
  margin-right: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-100 {
  margin-bottom: 100px;
}

.m-0 {
  margin: 0;
}

.p-15 {
  padding: 15px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/* sizing */

html {
  min-height: 100%;
  height: auto;
}

#root {
  min-height: 100vh;
}

.height-100, .App > div {
  min-height: 100vh; 
}

/* Components */
hr {
  background-color: #f0f0f0;
  height: 1px;
  border: none;
}

/* inputs */
textarea {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  border-radius: 4px;
  border-color: #c4c4c4;
}

.MuiInputBase-input.Mui-disabled {
  background-color: #efefef;
}

/* Buttons */
.MuiButton-containedPrimary .MuiButton-label {
  color: white;
}

.single-submit-btn {
  width: 50%;
}

.double-submit-btn {
  width: 47%;
  margin-left: 5px !important;
}

/*Flex box*/
.flex {
  display: flex;
}

.standard-flex-box {
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33%;
}

.col-6 {
  width: 49%;
}

.col-8 {
  width: 66%
}

.col-12 {
  width: 100%
}

/*responsive design*/
@media screen and (max-width: 600px) {
  /*flex box*/
  .col-2, .col-3, .col-4, .col-6, .col-8, .col-12 {
    width: 100%;
  }

  /*btns*/
  .single-submit-btn, .double-submit-btn {
    width: 100%;
    margin-top: 15px !important;
    margin-left: 0px;
  }

  .container {
    padding: 0px;
  }

  /*mobile spacing*/
  .m-mb-15 {
    margin-bottom: 15px;
  }

  .m-mt-15 {
    margin-top: 15px;
  }

  .m-text-center {
    text-align: center;
  }
}